#contactInfo {
    background-color: green;
}

#avatar {
    margin: 10px;
}

#user {
    margin: 10px;
}

#saveButton {
    margin: 10px;
    display: none;
}

#user {
    background-color:tan;
    padding: 10px;
}

#userAbout {
    margin: 1px;
}

#textAbout {
    min-height: 200px;
}

#firstLine {
    display: flex;
    align-items: flex-end;
}

#follow {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

#switchMode {
    margin-left: 10px;
}

#uploadFile {
   margin-bottom: 10px;
   display: none;
}