<form method="post" id="additionArticle">
  <div class="mb-3">
      <label class="form-label">Title</label>
      <input class="form-control" name="title" [(ngModel)]="title">
  </div>
  <div class="mb-3">
      <label class="form-label">Content</label>
      <textarea class="form-control" name="content" [(ngModel)]="content"></textarea>
  </div>
  <div class="mb-3">
    <label class="form-label">Tags</label>
    <input class="form-control" name="tags" [(ngModel)]="tags">
  </div>
  <div id="uploadFile" style="margin-bottom: 15px;">
    <label class="form-label" for="avatar"></label>
    <input type="file" class="form-control-sm" id="avatar" name="avatar" />
  </div>
  <button type="submit" class="btn btn-dark" (click)="postArticle($event)">Create</button>
</form>
