<!-- Background image -->
<div
id="intro-example"
class="p-5 text-center bg-image"
style="background-image: url('../assets/header1.jpg'); height: 600px;"
>
<div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
  <div class="d-flex justify-content-center h-100">
    <div class="text-white">
      <h1 class="mb-3">Hi there!</h1>
      <h5 class="mb-4">I'm Dmytro Podelnik and this is my programmer blog!</h5>
      <a
        class="btn btn-outline-light btn-lg m-2"
        routerLink="/about"
        >About me</a
      >
      <a
        class="btn btn-outline-light btn-lg m-2"
        routerLink="/articles"
        >Article List</a
      >
    </div>
  </div>
</div>
</div>
<!-- Background image -->
