<div id="main">

  <h2 class="text-center">About</h2>

  <p>
    I live in NYC and right now I work on some startup ideas in the data space.
  <p>
    From Feb 2015 to Jan 2021, I ran the (300-person) tech team at Better.com – a company rethinking how mortgages are
    done.
  </p>
  <p>
    Before Better, I was at Spotify for 6 years. I spent 2.5 years in Stockholm managing the "Analytics"
    team and then 3.5 years in NYC building up and managing the machine learning team. I built the first
    version of (and most of the sauce still powering) Spotify's music recommendations, such as "Related Artists",
    Radio, Discover Weekly, etc. At Spotify I also open sourced a couple of tools, including Luigi – a workflow
    engine with 10,000+ stars and 200+ contributors on Github, and Annoy – a library to do find approximate nearest
    neighbors in high dimensional spaces.
  </p>
  <p>
    I joined Spotify after graduating with a M. Sc. in Physics from KTH in Stockholm, where I'm originally from.
    During my university years, I did a few internships, including a six month stint at Google in Zürich.
    I also worked briefly with high frequency trading and a couple of other things. During university and
    high school I got involved with programming competitions. I have a gold medal from IOI and I participated
    in the ACM-ICPC world finals twice. In high school I won the Swedish physics competition as well as the
    Swedish programming competition.
  </p>
  <p>
    Besides blogging, I also tweet random things every once in a while. I also occasionally write code for
    fun in my spare time. If there's something I know a lot about, I sometimes give talks about it: I have
    talked about approximate nearest neighbors, Luigi, and machine learning for music recommendations.
    I am the co-organizer of the NYC Machine Learning meetup which has talks once a month.
  </p>
  <p>
    When I write code I usually do it in Python, but I've been using a dozen different languages since
    I started writing code 25 years ago. Most of what I've been doing last few years has been machine
    learning, data engineering, and backend development. I still write code some fraction of my time,
    but focus a lot more on management now, in particular recruiting and how to build a performance culture.
  </p>
  <br>
  <p class="text-center fw-bold">
    What about stuff outside of technology? Some misc facts about me:
  </p>

  <ul class="list-group text-center">
    <li class="list-group-item">I live (and work) in the financial district in NYC.</li>
    <li class="list-group-item">I'm married to my wife Bridget, and I have two daughters: Astrid and Ann.</li>
    <li class="list-group-item">On top of that, I also have two cats 🐈🐈.</li>
    <li class="list-group-item">I stopped eating meat in 2011.</li>
    <li class="list-group-item">I never owned a TV or a car (in fact never had a driver's license).</li>
    <li class="list-group-item">I've been to 47 countries (and I once hitchhiked from Berlin to Barcelona).</li>
    <li class="list-group-item">I'm addicted to Wikipedia, espresso, and Indian food.</li>
    <li class="list-group-item">When I listen to music it tends to skew towards Detroit techno and its derivatives.</li>
    <li class="list-group-item">I actually played the piano actively for 10+ years (thanks to extremely subsidized Swedish music classes).</li>
    <li class="list-group-item">I grew up in Solna and spent the first 20 years of my life there.</li>
    <li class="list-group-item">I speak Swedish, English, and German.</li>
  </ul>
  <br>

  <figure class="text-center">
    <blockquote class="blockquote">
      <p class="fw-bold">You can also look at a more extensive resume if you're interested.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Programmer <cite title="Source Title">Dmytro Podelnik</cite>
    </figcaption>
  </figure>

</div>
